body{
    background-color: burlywood;
}
ul{
    font-size: 20px;
}
p{
    font-size: 30px; 
}
h3{
    font-size: 25px; 
    font-family: arial black;
}
img{
    border: 10px solid black;
}